@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#cdcfd1] text-black font-sans overflow-x-hidden;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#db961f] to-black;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #cdcfd1;
}
::-webkit-scrollbar-thumb {
  background: #9c987c;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8a876d;
}
@font-face {
  font-family: "Futura W01";
  src: url("/fonts/FuturaW01.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
