@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-yuktrix-black text-yuktrix-white font-sans overflow-x-hidden;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#e8bb6d] to-white;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffd700;
}
@font-face {
  font-family: "Futura W01";
  src: url("/fonts/FontsFree-Net-FUTURE.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
